<h1>Listing Loan plans</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.loan_plan_index_path(@socket, :index)}>
    <.live_component
      module={SharkAttackWeb.LoanPlanLive.FormComponent}
      id={@loan_plan.id || :new}
      title={@page_title}
      action={@live_action}
      loan_plan={@loan_plan}
      return_to={Routes.loan_plan_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody id="loan_plans">
    <%= for loan_plan <- @loan_plans do %>
      <tr id={"loan_plan-#{loan_plan.id}"}>

        <td>
          <span><%= live_redirect "Show", to: Routes.loan_plan_show_path(@socket, :show, loan_plan) %></span>
          <span><%= live_patch "Edit", to: Routes.loan_plan_index_path(@socket, :edit, loan_plan) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: loan_plan.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Loan plan", to: Routes.loan_plan_index_path(@socket, :new) %></span>
