<h1>Show Loan plan</h1>

<%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.loan_plan_show_path(@socket, :show, @loan_plan)}>
    <.live_component
      module={SharkAttackWeb.LoanPlanLive.FormComponent}
      id={@loan_plan.id}
      title={@page_title}
      action={@live_action}
      loan_plan={@loan_plan}
      return_to={Routes.loan_plan_show_path(@socket, :show, @loan_plan)}
    />
  </.modal>
<% end %>

<ul>

</ul>

<span><%= live_patch "Edit", to: Routes.loan_plan_show_path(@socket, :edit, @loan_plan), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.loan_plan_index_path(@socket, :index) %></span>
